<% content_for yield :head do %>
	<title> AAA </title>
<% end %>
<h1>Welcome#index#Rails</h1>

<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to 'My Blog', controller: 'products'%>

<%= link_to 'My Books', controller: 'books'%>


